body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,ol {
   list-style-type: none;
}

a {
    text-decoration: none;
    color:#434455;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    justify-content: space-between;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}



/* -------------------------------------HEADER--------------------------------------*/
.studio {
    color: #2e2f42;
}

.logotype-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
}

.navigation-header {
    display: flex;
    align-items: center;
}

.navigation-header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
}

.navigation-link {
    display: inline-block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link.current {
    position: relative;
    color:#404bbf;
}

.navigation-link.current::after {
    content: "";
    position:absolute;
    background-color: #404bbf;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    bottom: -1px;
    left: 0px;
}

.contacts-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style:normal; 
}

.contacts-header-list {
    display: flex;
    gap: 40px;
}

.contacts-header-link {
    display: inline-block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.contacts-header .contacts-header-link:hover,
.contacts-header .contacts-header-link:focus {
    color: #404bbf ; 
}

.navigation-header-list .navigation-link:hover,
.navigation-header-list .navigation-link:focus {
    color: #404bbf ;
}

/* ------------------------------------- HERO SECTION ------------------------*/
.hero-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image:linear-gradient( 
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.hero-section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
}

.hero-section-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-size: 16px;
    background: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404bbf;
}

/*------------------------------- Information Section ---------------------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.information-section-list {
    display: flex;
    gap: 24px;
}

.information-section-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.information-section-title {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
}

.information-section-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}


/*------------------------------- Team Section ---------------------------------*/
.team-section {
    background-color: #f4f4fd;
}

.team-section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-section-list {
    display: flex;
    gap: 24px;
}

.team-section-item {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-section-item-information {
    text-align: center;
    padding: 32px 0;
}

.team-section-item-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
}

.team-section-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    margin-bottom: 8px;
}

.social-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.social-icon-item .social-icon-item-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons {
    fill: #f4f4fd;
}

.social-icon-item .social-icon-item-link:hover,
.social-icon-item .social-icon-item-link:focus {
    background-color: #404BBF;
}



/* ------------------------------------Portfolio section----------------------------- */
.portfolio-section-title {
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-section-list-item {
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 40px 32px ;
}

.portfolio-section-list-item:hover .overlay {
 transform: translateY(0);
}



.portfolio-section-item-information {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-section-item-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
}

.portfolio-section-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}




/* Footer */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logotype-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 16px;
}

.footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
    max-width: 264px;
}

.footer-information {
    margin-right: 120px;
}

.footer-studio {
    color: #f4f4fd;
}

.footer-icons {
    display: flex;
    flex-direction: column;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-icons-list {
    display: flex;
    gap: 16px; 
}

.footer-social-icon-item .footer-social-icon-item-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-item .footer-social-icon-item-link:hover,
.footer-social-icon-item .footer-social-icon-item-link:focus {
    background-color: #31d0aa;
}

/*---------------------------- INPUT FOOTER------------------- */
.input-footer {
    margin-left: 80px;
}


.input-title-footer {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.input-area-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px; 
    outline: transparent;
}

.input-area-footer::placeholder {
    color: #ffffff;
}

.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover, 
.footer-btn:focus {
    background-color: #404bbf;
}


.input-footer-icon-btn {
    fill: #ffffff;
    margin-left: 16px;
}


/* +++++++++++++++++++++++++MODAL++++++++++++++++++++++++++++++ */

.modal-overlay {
    background-color:rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 72px 24px 24px 24px; 
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, 
.close-btn:focus  {
    background-color: #404BBF;
    border: none;
}

.icons-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icons-close,
.close-btn:focus .icons-close {
    fill: #ffffff;
}


.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.form-input {
    outline: transparent;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px; 
    padding-left: 38px;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus-within {
    border-color:#4D5AE5;
}

.input-wrapper:hover .form-icon,
.input-wrapper:focus-within .form-icon{
    fill: #4D5AE5;
}

.form-field {
margin-bottom: 8px;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
position: relative;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-textarea {
    margin-bottom: 16px;
}

.form-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);    
}

.form-textarea:hover,
.form-textarea:focus-within {
    border-color:#4D5AE5;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.visually-hidden:checked + .checkbox-title > .checkbox-icon {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.privacy-policy {
 color:  #4d5ae5;
 text-decoration: underline;
}


.send-btn { 
    display: block;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-size: 16px;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404bbf;
}